<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<defaults>
				<targetDataStore type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow">
					<patch:attribute name="physicalRootPath">C:\Projects\Sitecore\OrganizeInsertOptionsRules\OrganizeInsertOptionsRules\App_Data</patch:attribute>
				</targetDataStore>
			</defaults>
		</unicorn>
	</sitecore>
</configuration>
